@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: rgb(245, 247, 251);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(250, 251, 251);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 1.5rem;
  transition: color 0.3s;
  color: black;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

@media (min-width: 768px) {
  .controls {
    flex-direction: row;
    justify-content: space-between;
  }
}

#search,
#region-filter {
  width: 10%;
  padding: 10px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  #search {
    width: 300px;
  }
}

#countries-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.country-card {
  background-color: var(--element-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.country-card:hover {
  transform: translateY(-5px);
}

.country-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.country-card .card-content {
  padding: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: var(--element-color);
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Dark mode styles */
:root {
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --element-color: hsl(0, 0%, 100%);
}

body.dark-mode {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --element-color: hsl(209, 23%, 22%);
}

body.dark-mode button {
  border-color: white;
  color: white; /* Set text color to white in dark mode */
}

/* body.light-mode {
  background-color: white;
  color: black;
} */

body.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode header {
  background-color: #333;
  color: white;
}
body.dark-mode h1 {
  color: white;
}

body:not(.dark-mode) h1 {
  color: black;
}
body.dark-mode h1 {
  color: white;
}

body:not(.dark-mode) h1 {
  color: black;
}

body.dark-mode input,
body.dark-mode select {
  background-color: #333;
  color: white;
  border-color: #555;
}

body:not(.dark-mode) input,
body:not(.dark-mode) select {
  background-color: white;
  color: black;
  border-color: #ccc;
}

/* button {
  padding: 1rem 1rem;
  cursor: pointer;
  border-radius: 6rem;
} */

button {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border: 2px solid black;
  background-color: transparent;
  color: black;
}

input,
select {
  padding: 0.5rem;
  margin: 0.5rem 0;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border: 1px solid #ccc;
}
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}
